---
title: Home
---
<!DOCTYPE html>
<html lang="{{language}}">
  <head>
    <title>{{title}} - Agile Brazil</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{assets}}/css/reset.css">
    <link rel="stylesheet" href="{{assets}}/css/lib/grid12.css">
    <link rel="stylesheet" href="{{assets}}/css/button.css" type="text/css">
    <link rel="stylesheet" href="{{assets}}/css/headerAa.css">
    <link rel="stylesheet" href="{{assets}}/css/header.css">
    <link rel="stylesheet" href="{{assets}}/css/keynotes.css">
    <link rel="stylesheet" href="{{assets}}/css/program.css">
    <link rel="stylesheet" href="{{assets}}/css/place.css">
    <link rel="stylesheet" href="{{assets}}/css/sponsorship.css">
    <link rel="stylesheet" href="{{assets}}/css/supporter.css">
    <link rel="stylesheet" href="{{assets}}/css/footer.css">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{{assets}}/js/html5shiv.js"></script>
    <![endif]-->
    {{> ga}}
  </head>

  <body class="home">
    {{> headerAa}}
    <main>

      <header class="header">
        <div class="container">
          <h1 class="header-title">
            <a href="index.html">
              <img src="{{assets}}/images/logo-ab.png" alt="Logo da Agile Brazil">
            </a>
          </h1>
          <nav class="wrap-header-menu">
            <ul class="header-menu">
              <li class="header-menu-item"><a href="patrocinio.html">Patrocine</a></li>
              <li class="header-menu-item"><a href="inscricoes.html">Inscrições</a></li>
              <li class="header-menu-item"><a href="wbma.html">WBMA</a> </li>
        <li class="header-menu-item"><a target="_blank" href="http://www.pontestur.com.br/portal/vendas/detalhes.php?central_venda_id=413&agile+brasil+2015">Reservas</a> </li>
              <!-- <li class="header-menu-item"><a href="#">Programa</a> </li> -->
              <!-- <li class="header-menu-item"><a href="#">Virada Ágil</a> </li> -->
              <!-- <li class="header-menu-item"><a href="#">FAQ</a> </li> -->
              <!-- <li class="header-menu-item"><a href="#">Contato</a> </li> -->
            </ul>
          </nav>

          <div class="header-info">
            <h2 class="header-info-title">21 a 23</h2>
            <h2 class="header-info-subtitle">de Outubro</h2>
            <h3 class="header-info-helpText">Porto de Galinhas - PE</h3>
            <a href="patrocinio.html" class="buttonAction">Patrocine!</a>
          </div>
        </div>
      </header>

      <section class="keynotes">
        <div class="container">
          <h1 class="keynotes-title">Destaques do programa</h1>
          <div class="row">
            <dl class="keynotes-speakers col-sm-4">
              <dd class="keynotes-speakers-photo">
                <img src="{{assets}}/img/keynotes/lindaRising.png" alt="Linda Rising">
              </dd>
              <dt class="keynotes-speakers-title">Linda Rising</dt>
              <dd class="keynotes-speakers-subtitle">Keynote Speaker</dd>
              <dd class="keynotes-speakers-description">Autora de Fearless Change, é especialista em padrões, agile e processos de mudança.</dd>
              <!--<dd>
                <a class="buttonAction" href="program/linda-rising.html">Saiba mais</a>
              </dd>-->
            </dl>
            <dl class="keynotes-speakers col-sm-4">
              <dd class="keynotes-speakers-photo">
                <img src="{{assets}}/img/keynotes/michaelFeathers.png" alt="Michael Feathers">
              </dd>
              <dt class="keynotes-speakers-title">Michael Feathers</dt>
              <dd class="keynotes-speakers-subtitle">Keynote Speaker</dd>
              <dd class="keynotes-speakers-description">Consultor, lida com código legado cotidianamente e é autor do livro sobre o tema.</dd>
              <!--<dd>
                <a class="buttonAction" href="program/michael-feathers.html">Saiba mais</a>
              </dd>-->
            </dl>
            <dl class="keynotes-speakers col-sm-4">
                <dd class="keynotes-speakers-photo">
                  <img src="{{assets}}/img/keynotes/silvioMeira.png" alt="Silvio Meira">
                </dd>
                <dt class="keynotes-speakers-title">Silvio Meira</dt>
                <dd class="keynotes-speakers-subtitle">Invited Speaker</dd>
                <dd class="keynotes-speakers-description">Professor associado da direitorio.fgv.br, provocador-chefe da ikewai.com (rede de investidores).</dd>
                <!-- <dd>
                  <a class="buttonAction" href="program/silvio-meira.html">Saiba mais</a>
                </dd> -->
            </dl>
          </div>
        </div>
      </section>

      <section class="program">
        <div class="container">
          <div class="row">
            <div class="program-info col-sm-6 col-sm-push-5">
              <h1 class="program-info-title">Seja um Palestrante</h1>
              <p class="program-info-description">
                Sessões sobre temas diversos comporão a grade da Agile Brazil 2015.
                E o palestrante pode ser você!
              </p>
              <a href="https://submissoes.agilebrazil.com/" class="buttonAction">Submeta!</a>
            </div>
          </div>
        </div>
      </section>

      <section class="place">
        <div class="container">
          <h1 class="place-title">Como chegar?</h1>
          <p class="place-description">
            Esse ano o Agile Brazil é em Porto de Galinhas. Descubra como chegar,
            saiba mais sobre a cidade e o local do evento.
          </p>
          <a target="_blank" class="buttonPrimary" href="http://www.pontestur.com.br/portal/vendas/detalhes.php?central_venda_id=413&agile+brasil+2015">Reservas</a>
        </div>
      </section>


      <section class="sponsorship">
        <div class="container">
          <div class="row">
            <div class="sponsorship-info col-sm-6 col-sm-push-5">
              <h1 class="sponsorship-info-title">Divulgue sua Marca</h1>
              <p class="sponsorship-info-description">Atraia os olhares de especialistas em agilidade e conecte-se com uma comunidade altamente capacitada.</p>
              <a href="patrocinio.html" class="buttonAction">Patrocine!</a>
            </div>
          </div>
        </div>
      </section>

    <section class="wrap-supporter">
      <h1 class="supporter-title">Patrocinador Prata</h1>
      <div class="supporter-enclosure">
        <ul class="supporter">
          <li class="supporter-item silver">
            <figure>
              <a href="http://www.ines.org.br/" target="_blank" rel="external"><img src="{{assets}}/img/sponsor/logoInes.jpg" alt="Logo do Instituto Nacional para Engenharia de Software"></a>
            </figure>
          </li>
        </ul>
      </div>
      <br>
      <h1 class="supporter-title">Apoiadores</h1>
      <div class="supporter-enclosure">
        <ul class="supporter">
          <li class="supporter-item">
            <figure>
              <a href="http://agilidaderecife.com.br/" target="_blank"><img src="{{assets}}/img/supporter/logoAgilidadeRecife.jpg" alt="Logo da Agilidade Recife"></a>
            </figure>
          </li>
          <li class="supporter-item">
            <figure>
              <a href="http://www.recifecvb.com.br/" target="_blank"><img src="{{assets}}/img/supporter/logoRcvb.jpg" alt="Logo do Recife Convetion & Visitors Bureau"></a>
            </figure>
          </li>
          <li class="supporter-item">
            <figure>
              <a href="http://www.sbc.org.br/" target="_blank"><img src="{{assets}}/img/supporter/logoSbc.png" alt="Logo do Sociedade Brasileira de Computação"></a>
            </figure>
          </li>
          <li class="supporter-item">
            <figure>
              <a href="http://www2.cin.ufpe.br/" target="_blank"><img src="{{assets}}/img/supporter/logoCinUfpe.jpg" alt="Logo do Centro de Informática UFPE"></a>
            </figure>
          </li>
          <li class="supporter-item">
            <figure>
              <a href="http://www.portodigital.org/" target="_blank"><img src="{{assets}}/img/supporter/logoPortoDigital.jpg" alt="Logo do Porto Digital"></a>
            </figure>
          </li>
          <li class="supporter-item">
            <figure>
              <a href="http://www.recife.softex.br/" target="_blank"><img src="{{assets}}/img/supporter/logoSoftexRecife.jpg" alt="Logo da SoftexRecife"></a>
            </figure>
          </li>
          <li class="supporter-item">
            <figure>
              <a href="http://www.deinfo.ufrpe.br/" target="_blank"><img src="{{assets}}/img/supporter/logoDeinfo.jpg" alt="Logo do Departamento de Estática e Matemática UFRPE"></a>
            </figure>
          </li>
          <li class="supporter-item">
            <figure>
              <a href="http://agiletrendsbr.com/" target="_blank"><img src="{{assets}}/img/supporter/logoAgiletrends.png" alt="Logo do Agile Trends"></a>
            </figure>
          </li>
        </ul>
      </div>
    </section>
      {{> footer}}
    </main>
  </body>
</html>
